USE_MEMORY_STORE=true
GOOGLE_CLOUD_PROJECT=capthca-local
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
CAPTHCA_LAND_TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
# Set to enable basic auth on staging (leave empty to disable)
CAPTHCA_LAND_STAGING_AUTH_USER=capthca
CAPTHCA_LAND_ENV=local
CAPTHCA_LAND_STAGING_AUTH_PASS=
